#game-log {
    background-color: aquamarine;
    flex:1;
    margin:0px;
    border-left: 1px solid black;
    overflow-y: scroll;
}
.game-container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    gap: 5px;
}
#game-answer-list {
    flex:1;
    background-color: chartreuse;
    border-right:1px solid black;
}